- // main menu
.sidebar(role='navigation')
  nav.menu-wrap
    ul.menu-list
      li.menu-item.active
        a.menu-link(href='index.html' title="Обо мне") Обо мне
      li.menu-item
        a.menu-link(href='portfolio.html' title="Мои работы") Мои работы
      li.menu-item
        a.menu-link(href='feedback.html' title="Связаться со мной") Связаться со мной
      li.menu-item
  .contact-wrap 
    h2.contact-title Контакты
    ul.contact-list
      li.contact-item.bg-blue-1
        a.contact-link(href="mailto:gorandnik@inbox.ru")
            i.fa.fa-envelope-o
            span gorandnik@inbox.ru
      li.contact-item.bg-blue-2 
        a.contact-link(href="tel:+79232897691")
            i.fa.fa-phone 
            span 
            |+7 (923) 289-76-91
      li.contact-item.bg-blue-3 
        a.contact-link(href="skype:gorandnik")
            i.fa.fa-skype
            span gorandnik
